
li {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: Montserrat;
}

.navbar-header {
    font-family: Montserrat;
    font-weight: bold;
}
h3{
    font-family: Montserrat;
}

h2 {
    /* */
    font-family: Montserrat;
    margin: 0px 0px;
    font-weight: bold;
}

h4 {
    /* */
    font-family: Montserrat;
    font-weight: 10;
    color: #3e70ce;
    margin-top: 40px;
}

h5 {
   /* */
    font-family: Montserrat;
    margin: 30px 0px;
}

h6 {
   /* */
    font-family: Montserrat;
}

p {
   /* */
    font-family: Montserrat;
    margin: 10px 0px;
}

.description {
   /* */
    font-family: Lato;
}

.logo-text {
    padding-bottom: 100px;
}

.heading {
    color: #667bdb;
    font-weight: 50;
    margin: 30px 0px;
}

.headingthree {
    color: #77a6e9;
    font-weight: 10;
}

.carousel-inner img {
    margin: 30px auto;
}


.container {
    max-width: 850px;
    padding: 10px;

}

.container-white {
    background-color: white;
    height: auto;
    position: relative;
    margin-bottom: 10px;
}

.container-grey{
    background-color: rgb(77, 76, 76);
    height: 40px;
    margin-bottom: 5px;
    color: #fff;
    text-align: center;
}
.container-grey p{
    padding: 10px 0px;
    font-family: Lato;
}

.box {
    width: 850px;

}

.btn {
   /* */
    font-family: Montserrat;
    margin: 10px 0px;
}

.btn-dark {
    background-color: #000;
    color: #fff;
    margin-left: 20px;
}

.contact {
    margin: 40px 30px;
   /* */
    font-family: Montserrat;
}

.address {
    margin-top: 80px;
}


.details {
   /* */
    font-family: Montserrat;
    color: brown;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.para {
    text-align: center;
    margin-bottom: 30px;
}

input {
    border-color: black;
    margin-bottom: 10px;
}

.footer {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    
}

.foot {
    margin-top: 40px;
    margin-left: 10%;
}
